.body{
    position: relative;
}
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-size: cover;
    width: 100%;
    height: 100vh;
    filter: contrast(70%);
  
    p{
        color: #fff;
    }
    .logo{
        img{
            width: 350px;
        }
    }

}