.reservation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    button{
        height: 30px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
   
    }
    button:hover{
        background-color: white;
        color: black;
    }
    &__form{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        input{
            margin: 5px 0;
            text-align: center;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.612);
            color: white;
            border: none;
            border-radius: 5px;
        }
        input::placeholder{
            color: white;
        }
        input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }
        input[type="time"]::-webkit-calendar-picker-indicator,input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(0.9);
            cursor: pointer;
            border-radius: 4px;
            margin-right: 2px;
            opacity: 0.9;
        }
    }
}

.reservation__container{
    display: flex;
    width: 90%;
    overflow-x: auto;
    .reserv{
        background-color: rgba(255, 255, 255, 0.529);
        margin: 0 5px;
        min-width: 200px;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        p{
            margin: 4px;
        }
        h6{
            margin: 4px;
            font-size: 16px;
        }
    }
}